@font-face {
    font-family: 'noto_serifregular';
    src: url('../assets/fonts/notoserif-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/notoserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}

.wrapper {
    height: 100%;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.centered div {
    font-family: noto_serifregular;
    text-align: center;
    color: #fff;
}

.name {
    font-size: 80px;
}

.gender {
    font-size: 30px;
}

.region {
    font-size: 30px;
}

.sel {
    background: #00467F;
    background: -webkit-linear-gradient(to right, #A5CC82, #00467F);
    background: linear-gradient(to right, #A5CC82, #00467F);
}

.dimigo {
    background: #ec008c;
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
    background: linear-gradient(to right, #fc6767, #ec008c);
}

.purple-love {
    background: #cc2b5e;
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
    background: linear-gradient(to right, #753a88, #cc2b5e);
}

.sexy-blue {
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);
}

.blooker20 {
    background: #e65c00;
    background: -webkit-linear-gradient(to right, #F9D423, #e65c00);
    background: linear-gradient(to right, #F9D423, #e65c00);
}

.sea-blue {
    background: #2b5876;
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    background: linear-gradient(to right, #4e4376, #2b5876);
}

.nimvelo {
    background: #314755;
    background: -webkit-linear-gradient(to right, #26a0da, #314755);
    background: linear-gradient(to right, #26a0da, #314755);
}

.hazel {
    background: #77A1D3;
    background: -webkit-linear-gradient(to right, #79CBCA, #77A1D3);
    background: linear-gradient(to right, #79CBCA, #77A1D3);
}

.noon-to-dusk {
    background: #ff6e7f;
    background: -webkit-linear-gradient(to right, #bfe9ff, #ff6e7f);
    background: linear-gradient(to right, #bfe9ff, #ff6e7f);
}

.youtube {
    background: #e52d27;
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);
    background: linear-gradient(to right, #b31217, #e52d27);
}

.cool-brown {
    background: #603813;
    background: -webkit-linear-gradient(to right, #b29f94, #603813);
    background: linear-gradient(to right, #b29f94, #603813);
}

.harmonic-energy {
    background: #16A085;
    background: -webkit-linear-gradient(to right, #F4D03F, #16A085);
    background: linear-gradient(to right, #F4D03F, #16A085);
}

.playing-with-reds {
    background: #D31027;
    background: -webkit-linear-gradient(to right, #EA384D, #D31027);
    background: linear-gradient(to right, #EA384D, #D31027);
}

.sunny-days {
    background: #EDE574;
    background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574);
    background: linear-gradient(to right, #E1F5C4, #EDE574);
}

.green-beach {
    background: #02AAB0;
    background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);
    background: linear-gradient(to right, #00CDAC, #02AAB0);
}

.intuitive-purple {
    background: #DA22FF;
    background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);
    background: linear-gradient(to right, #9733EE, #DA22FF);
}

.emerald-water {
    background: #348F50;
    background: -webkit-linear-gradient(to right, #56B4D3, #348F50);
    background: linear-gradient(to right, #56B4D3, #348F50);
}

.lemon-twist {
    background: #3CA55C;
    background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);
    background: linear-gradient(to right, #B5AC49, #3CA55C);
}

.monte-carlo {
    background: #CC95C0;
    background: -webkit-linear-gradient(to right, #DBD4B4, #CC95C0);
    background: linear-gradient(to right, #DBD4B4, #CC95C0);
}

.horizon {
    background: #003973;
    background: -webkit-linear-gradient(to right, #E5E5BE, #003973);
    background: linear-gradient(to right, #E5E5BE, #003973);
}

.rose-water {
    background: #E55D87;
    background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);
    background: linear-gradient(to right, #5FC3E4, #E55D87);
}

.frozen {
    background: #403B4A;
    background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);
    background: linear-gradient(to right, #E7E9BB, #403B4A);
}

.mango-pulp {
    background: #F09819;
    background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);
    background: linear-gradient(to right, #EDDE5D, #F09819);
}

.bloody-mary {
    background: #FF512F;
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);
    background: linear-gradient(to right, #DD2476, #FF512F);
}

.aubergine {
    background: #AA076B;
    background: -webkit-linear-gradient(to right, #61045F, #AA076B);
    background: linear-gradient(to right, #61045F, #AA076B);
}

.aqua-marine {
    background: #1A2980;
    background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
    background: linear-gradient(to right, #26D0CE, #1A2980);
}

.sunrise {
    background: #FF512F;
    background: -webkit-linear-gradient(to right, #F09819, #FF512F);
    background: linear-gradient(to right, #F09819, #FF512F);
}

.purple-paradise {
    background: #1D2B64;
    background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64);
    background: linear-gradient(to right, #F8CDDA, #1D2B64);
}

.stripe {
    background: #1FA2FF;
    background: -webkit-linear-gradient(to right, #12D8FA, #1FA2FF);
    background: linear-gradient(to right, #12D8FA, #1FA2FF);
}

.sea-weed {
    background: #4CB8C4;
    background: -webkit-linear-gradient(to right, #3CD3AD, #4CB8C4);
    background: linear-gradient(to right, #3CD3AD, #4CB8C4);
}

.pinky {
    background: #DD5E89;
    background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89);
    background: linear-gradient(to right, #F7BB97, #DD5E89);
}

.cherry {
    background: #EB3349;
    background: -webkit-linear-gradient(to right, #F45C43, #EB3349);
    background: linear-gradient(to right, #F45C43, #EB3349);
}

.mojito {
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
    background: linear-gradient(to right, #93F9B9, #1D976C);
}

.juicy-orange {
    background: #FF8008;
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008);
    background: linear-gradient(to right, #FFC837, #FF8008);
}

.mirage {
    background: #16222A;
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);
    background: linear-gradient(to right, #3A6073, #16222A);
}

.steel-gray {
    background: #1F1C2C;
    background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);
    background: linear-gradient(to right, #928DAB, #1F1C2C);
}

.kashmir {
    background: #614385;
    background: -webkit-linear-gradient(to right, #516395, #614385);
    background: linear-gradient(to right, #516395, #614385);
}

.electric-violet {
    background: #4776E6;
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    background: linear-gradient(to right, #8E54E9, #4776E6);
}

.venice-blue {
    background: #085078;
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);
    background: linear-gradient(to right, #85D8CE, #085078);
}

.bora-bora {
    background: #2BC0E4;
    background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);
    background: linear-gradient(to right, #EAECC6, #2BC0E4);
}

.moss {
    background: #134E5E;
    background: -webkit-linear-gradient(to right, #71B280, #134E5E);
    background: linear-gradient(to right, #71B280, #134E5E);
}

.shroom-haze {
    background: #5C258D;
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);
    background: linear-gradient(to right, #4389A2, #5C258D);
}

.mystic {
    background: #757F9A;
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);
    background: linear-gradient(to right, #D7DDE8, #757F9A);
}

.midnight-city {
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
}

.sea-blizz {
    background: #1CD8D2;
    background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);
    background: linear-gradient(to right, #93EDC7, #1CD8D2);
}

.opa {
    background: #3D7EAA;
    background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);
    background: linear-gradient(to right, #FFE47A, #3D7EAA);
}

.titanium {
    background: #283048;
    background: -webkit-linear-gradient(to right, #859398, #283048);
    background: linear-gradient(to right, #859398, #283048);
}

.mantle {
    background: #24C6DC;
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);
    background: linear-gradient(to right, #514A9D, #24C6DC);
}

.dracula {
    background: #DC2424;
    background: -webkit-linear-gradient(to right, #4A569D, #DC2424);
    background: linear-gradient(to right, #4A569D, #DC2424);
}

.peach {
    background: #ED4264;
    background: -webkit-linear-gradient(to right, #FFEDBC, #ED4264);
    background: linear-gradient(to right, #FFEDBC, #ED4264);
}

.moonrise {
    background: #DAE2F8;
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);
    background: linear-gradient(to right, #D6A4A4, #DAE2F8);
}

.clouds {
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.stellar {
    background: #7474BF;
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);
    background: linear-gradient(to right, #348AC7, #7474BF);
}

.bourbon {
    background: #EC6F66;
    background: -webkit-linear-gradient(to right, #F3A183, #EC6F66);
    background: linear-gradient(to right, #F3A183, #EC6F66);
}

.calm-darya {
    background: #5f2c82;
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
    background: linear-gradient(to right, #49a09d, #5f2c82);
}

.influenza {
    background: #C04848;
    background: -webkit-linear-gradient(to right, #480048, #C04848);
    background: linear-gradient(to right, #480048, #C04848);
}

.shrimpy {
    background: #e43a15;
    background: -webkit-linear-gradient(to right, #e65245, #e43a15);
    background: linear-gradient(to right, #e65245, #e43a15);
}

.army {
    background: #414d0b;
    background: -webkit-linear-gradient(to right, #727a17, #414d0b);
    background: linear-gradient(to right, #727a17, #414d0b);
}

.miaka {
    background: #FC354C;
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
    background: linear-gradient(to right, #0ABFBC, #FC354C);
}

.pinot-noir {
    background: #4b6cb7;
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
    background: linear-gradient(to right, #182848, #4b6cb7);
}

.day-tripper {
    background: #f857a6;
    background: -webkit-linear-gradient(to right, #ff5858, #f857a6);
    background: linear-gradient(to right, #ff5858, #f857a6);
}

.namn {
    background: #a73737;
    background: -webkit-linear-gradient(to right, #7a2828, #a73737);
    background: linear-gradient(to right, #7a2828, #a73737);
}

.blurry-beach {
    background: #d53369;
    background: -webkit-linear-gradient(to right, #cbad6d, #d53369);
    background: linear-gradient(to right, #cbad6d, #d53369);
}

.vasily {
    background: #e9d362;
    background: -webkit-linear-gradient(to right, #333333, #e9d362);
    background: linear-gradient(to right, #333333, #e9d362);
}

.a-lost-memory {
    background: #DE6262;
    background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);
    background: linear-gradient(to right, #FFB88C, #DE6262);
}

.petrichor {
    background: #666600;
    background: -webkit-linear-gradient(to right, #999966, #666600);
    background: linear-gradient(to right, #999966, #666600);
}

.jonquil {
    background: #FFEEEE;
    background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);
    background: linear-gradient(to right, #DDEFBB, #FFEEEE);
}

.sirius-tamed {
    background: #EFEFBB;
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);
}

.kyoto {
    background: #c21500;
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(to right, #ffc500, #c21500);
}

.misty-meadow {
    background: #215f00;
    background: -webkit-linear-gradient(to right, #e4e4d9, #215f00);
    background: linear-gradient(to right, #e4e4d9, #215f00);
}

.aqualicious {
    background: #50C9C3;
    background: -webkit-linear-gradient(to right, #96DEDA, #50C9C3);
    background: linear-gradient(to right, #96DEDA, #50C9C3);
}

.moor {
    background: #616161;
    background: -webkit-linear-gradient(to right, #9bc5c3, #616161);
    background: linear-gradient(to right, #9bc5c3, #616161);
}

.almost {
    background: #ddd6f3;
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);
    background: linear-gradient(to right, #faaca8, #ddd6f3);
}

.forever-lost {
    background: #5D4157;
    background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);
    background: linear-gradient(to right, #A8CABA, #5D4157);
}

.winter {
    background: #E6DADA;
    background: -webkit-linear-gradient(to right, #274046, #E6DADA);
    background: linear-gradient(to right, #274046, #E6DADA);
}

.autumn {
    background: #DAD299;
    background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);
    background: linear-gradient(to right, #B0DAB9, #DAD299);
}

.candy {
    background: #D3959B;
    background: -webkit-linear-gradient(to right, #BFE6BA, #D3959B);
    background: linear-gradient(to right, #BFE6BA, #D3959B);
}

.reef {
    background: #00d2ff;
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
}

.the-strain {
    background: #870000;
    background: -webkit-linear-gradient(to right, #190A05, #870000);
    background: linear-gradient(to right, #190A05, #870000);
}

.dirty-fog {
    background: #B993D6;
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
    background: linear-gradient(to right, #8CA6DB, #B993D6);
}

.earthly {
    background: #649173;
    background: -webkit-linear-gradient(to right, #DBD5A4, #649173);
    background: linear-gradient(to right, #DBD5A4, #649173);
}

.virgin {
    background: #C9FFBF;
    background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
    background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}

.ash {
    background: #606c88;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88);
}

.shadow-night {
    background: #000000;
    background: -webkit-linear-gradient(to right, #53346D, #000000);
    background: linear-gradient(to right, #53346D, #000000);
}

.cherryblossoms {
    background: #FBD3E9;
    background: -webkit-linear-gradient(to right, #BB377D, #FBD3E9);
    background: linear-gradient(to right, #BB377D, #FBD3E9);
}

.parklife {
    background: #ADD100;
    background: -webkit-linear-gradient(to right, #7B920A, #ADD100);
    background: linear-gradient(to right, #7B920A, #ADD100);
}

.dance-to-forget {
    background: #FF4E50;
    background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
    background: linear-gradient(to right, #F9D423, #FF4E50);
}

.starfall {
    background: #F0C27B;
    background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);
    background: linear-gradient(to right, #4B1248, #F0C27B);
}

.red-mist {
    background: #000000;
    background: -webkit-linear-gradient(to right, #e74c3c, #000000);
    background: linear-gradient(to right, #e74c3c, #000000);
}

.teal-love {
    background: #AAFFA9;
    background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);
    background: linear-gradient(to right, #11FFBD, #AAFFA9);
}

.neon-life {
    background: #B3FFAB;
    background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);
    background: linear-gradient(to right, #12FFF7, #B3FFAB);
}

.man-of-steel {
    background: #780206;
    background: -webkit-linear-gradient(to right, #061161, #780206);
    background: linear-gradient(to right, #061161, #780206);
}

.amethyst {
    background: #9D50BB;
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);
    background: linear-gradient(to right, #6E48AA, #9D50BB);
}

.cheer-up-emo-kid {
    background: #556270;
    background: -webkit-linear-gradient(to right, #FF6B6B, #556270);
    background: linear-gradient(to right, #FF6B6B, #556270);
}

.shore {
    background: #70e1f5;
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
    background: linear-gradient(to right, #ffd194, #70e1f5);
}

.facebook-messenger {
    background: #00c6ff;
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    background: linear-gradient(to right, #0072ff, #00c6ff);
}

.soundcloud {
    background: #fe8c00;
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
    background: linear-gradient(to right, #f83600, #fe8c00);
}

.behongo {
    background: #52c234;
    background: -webkit-linear-gradient(to right, #061700, #52c234);
    background: linear-gradient(to right, #061700, #52c234);
}

.servquick {
    background: #485563;
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    background: linear-gradient(to right, #29323c, #485563);
}

.friday {
    background: #83a4d4;
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);
    background: linear-gradient(to right, #b6fbff, #83a4d4);
}

.martini {
    background: #FDFC47;
    background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);
    background: linear-gradient(to right, #24FE41, #FDFC47);
}

.metallic-toad {
    background: #abbaab;
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
    background: linear-gradient(to right, #ffffff, #abbaab);
}

.between-the-clouds {
    background: #73C8A9;
    background: -webkit-linear-gradient(to right, #373B44, #73C8A9);
    background: linear-gradient(to right, #373B44, #73C8A9);
}

.crazy-orange-i {
    background: #D38312;
    background: -webkit-linear-gradient(to right, #A83279, #D38312);
    background: linear-gradient(to right, #A83279, #D38312);
}

.hersheys {
    background: #1e130c;
    background: -webkit-linear-gradient(to right, #9a8478, #1e130c);
    background: linear-gradient(to right, #9a8478, #1e130c);
}

.talking-to-mice-elf {
    background: #948E99;
    background: -webkit-linear-gradient(to right, #2E1437, #948E99);
    background: linear-gradient(to right, #2E1437, #948E99);
}

.purple-bliss {
    background: #360033;
    background: -webkit-linear-gradient(to right, #0b8793, #360033);
    background: linear-gradient(to right, #0b8793, #360033);
}

.predawn {
    background: #FFA17F;
    background: -webkit-linear-gradient(to right, #00223E, #FFA17F);
    background: linear-gradient(to right, #00223E, #FFA17F);
}

.endless-river {
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2);
}

.pastel-orange-at-the-sun {
    background: #ffb347;
    background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);
    background: linear-gradient(to right, #ffcc33, #ffb347);
}

.twitch {
    background: #6441A5;
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    background: linear-gradient(to right, #2a0845, #6441A5);
}

.atlas {
    background: #FEAC5E;
    background: -webkit-linear-gradient(to right, #C779D0, #FEAC5E);
    background: linear-gradient(to right, #C779D0, #FEAC5E);
}

.instagram {
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fd1d1d, #833ab4);
}

.flickr {
    background: #ff0084;
    background: -webkit-linear-gradient(to right, #33001b, #ff0084);
    background: linear-gradient(to right, #33001b, #ff0084);
}

.vine {
    background: #00bf8f;
    background: -webkit-linear-gradient(to right, #001510, #00bf8f);
    background: linear-gradient(to right, #001510, #00bf8f);
}

.turquoise-flow {
    background: #136a8a;
    background: -webkit-linear-gradient(to right, #267871, #136a8a);
    background: linear-gradient(to right, #267871, #136a8a);
}

.portrait {
    background: #8e9eab;
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    background: linear-gradient(to right, #eef2f3, #8e9eab);
}

.virgin-america {
    background: #7b4397;
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
    background: linear-gradient(to right, #dc2430, #7b4397);
}

.koko-caramel {
    background: #D1913C;
    background: -webkit-linear-gradient(to right, #FFD194, #D1913C);
    background: linear-gradient(to right, #FFD194, #D1913C);
}

.fresh-turboscent {
    background: #F1F2B5;
    background: -webkit-linear-gradient(to right, #135058, #F1F2B5);
    background: linear-gradient(to right, #135058, #F1F2B5);
}

.green-to-dark {
    background: #6A9113;
    background: -webkit-linear-gradient(to right, #141517, #6A9113);
    background: linear-gradient(to right, #141517, #6A9113);
}

.ukraine {
    background: #004FF9;
    background: -webkit-linear-gradient(to right, #FFF94C, #004FF9);
    background: linear-gradient(to right, #FFF94C, #004FF9);
}

.curiosity-blue {
    background: #525252;
    background: -webkit-linear-gradient(to right, #3d72b4, #525252);
    background: linear-gradient(to right, #3d72b4, #525252);
}

.dark-knight {
    background: #BA8B02;
    background: -webkit-linear-gradient(to right, #181818, #BA8B02);
    background: linear-gradient(to right, #181818, #BA8B02);
}